<div class="preview" style="position: fixed; left: 100px; z-index: 100;"
  *ngIf="productSaleList && productSaleList.length" [class.expanded]='expanded'>
  <button [class.not-shown]='!productSaleList.length  || expanded' type="button" class="circle" (click)="onCartClick()">
    <img src="../../assets/cart_white.svg" alt="cart" />
    <div class="indicator"><span>{{numProducts}}</span></div>
  </button>




  <div class="fill" [style.height]="expanded ? expandedHeight : inherit" [class.not-shown]='!products.length'
    [class.animate-plop]='animatePlop' [class.shown]='animatePopout && !expanded'>
    <div class="expanded-info" [class.shown]='expanded'>
      <h3>Esta es tu lista de compras:</h3>
      <div class="product" *ngFor="let item of productSaleList">
        <div class="row">

          <div class="col-3-sm description">
            <p style="display: inline-block; font-size: 1.rem !important;">
              {{item.products[0].nombre.substr(0, 31)}}{{item.products[0].nombre.length > 31 ? '...'  : '  '}}    </p>
          </div>


          <div class="col-3-sm description">
            <p style="display: inline-block; font-size: 1.rem !important;">      x {{item.countProduct}}     </p>
          </div>
          <div class="col-6-sm price">
            <p style="display: inline-block; font-size: 1.rem !important;">
                    =  {{item.countProduct * item.products[0].priceBeauty | currency:'USD':'symbol':'1.0-0' }}</p>
          </div>
        </div>
      </div>

      


      <button type="button" (click)="sendRequest($event)" class="pay-btn">Enviar pedido
        {{totalCost | currency:'USD':'symbol':'1.0-0'}}</button>
    </div>
    <button type="button" class="close-btn" *ngIf='expanded' (click)="onCartClick()">Cerrar</button>
  </div>
</div>

<div class="overlay" [class.shown]='expanded'>

</div>
</div>
