<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro de Usuario</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registro exitoso!</strong> por favor verifica tu correo.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registro fallido!</strong> por favor intente de nuevo.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>el usuario ya se encuentra registrado en el sitio!</strong> por favor escoge otro.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>El correo ya está registrado!</strong> por favor escoge otro.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                la contraseña y la confirmación de la contraseña no coinciden!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nombres</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="userClient.name" required/>
                    <div [hidden]="!(registerForm.controls.name?.dirty && registerForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!registerForm.controls.name?.errors?.required">
                        los nombres es requerido
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Apellidos</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="userClient.lastName" />
                </div>
               
                <div class="form-group">
                    <label class="form-control-label" for="field_documentNumber">Número de Identificación</label>
                    <input type="text" class="form-control" name="documentNumber" id="field_documentNumber"
                        [(ngModel)]="userClient.documentNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_celphone">Celular</label>
                    <input type="text" class="form-control" name="celphone" id="field_celphone"
                        [(ngModel)]="userClient.celphone" required/>
                    <div [hidden]="!(registerForm.controls.celphone?.dirty && registerForm.controls.celphone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!registerForm.controls.celphone?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Direccion</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="userClient.address" required/>
                    <div [hidden]="!(registerForm.controls.address?.dirty && registerForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!registerForm.controls.address?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_typeDoc">Tipo de Documento</label>
                    <select class="form-control" id="field_typeDoc" name="typeDoc" [(ngModel)]="userClient.typeDoc">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeDocOption.id === userClient.typeDoc?.id ? userClient.typeDoc : typeDocOption" *ngFor="let typeDocOption of typedocs; trackBy: trackTypeDocById">{{typeDocOption.description}}</option>
                    </select>
                </div>
              
              
                <div class="form-group">
                    <label class="form-control-label" for="login">Correo</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="form-control-label" for="password">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmación de Contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrar</button>
            </form>
            
        </div>
    </div>
</div>

<jhi-user-client-update></jhi-user-client-update>