<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>¡Registro guardado!</strong> Por favor revise su correo electrónico para confirmar
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>¡Registro fallido!</strong> Por favor, inténtelo de nuevo más tarde.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>
                    Nombre de usuario ya registrado!</strong>Por favor elije otro.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>¡El correo electrónico ya está en uso!</strong> Por favor elije otro.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
               ¡La contraseña y su confirmación no coinciden!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Usuario</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Su nombre de usuario es obligatorio
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                           Su nombre de usuario debe tener al menos 1 carácter.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Su nombre de usuario no puede tener más de 50 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                              Su nombre de usuario solo puede contener letras y dígitos.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                               Se requiere su correo electrónico.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                              Tu Correo Electrónico es Inválido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                              Su correo electrónico debe tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Su correo electrónico no puede tener más de 100 caracteres..
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                               Tu contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                               Su contraseña debe tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Su contraseña no puede tener más de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Se requiere su contraseña de confirmación.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Su contraseña de confirmación debe tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                              Su contraseña de confirmación no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrarse</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>Si quiere</span>
                <a class="alert-link" (click)="openLogin()">Ingresar</a><span>,  puede probar las cuentas predeterminadas:<br/>- Administrador (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div>
