<div>
    <h2 id="page-heading">
        <span>-Ventas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sale" [routerLink]="['/sale/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Crear nueva venta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sales">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha de creación</span></th>
            <th><span>Total</span></th>
            <th><span>Descripción</span></th>
            <th><span>Fecha de gestión</span></th>
            <th><span>Costo Total </span></th>
            <th><span>Iva</span></th>
            <th><span>Descuento</span></th>
            <th><span>Producto de venta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sale of sales ;trackBy: trackId">
                <td><a [routerLink]="['/sale', sale.id, 'view' ]">{{sale.id}}</a></td>
                <td>{{sale.creationDate | date:'medium'}}</td>
                <td>{{sale.total}}</td>
                <td>{{sale.description}}</td>
                <td>{{sale.managementDate | date:'medium'}}</td>
                <td>{{sale.totalCost}}</td>
                <td>{{sale.iva}}</td>
                <td>{{sale.discount}}</td>
                <td>
                    <div *ngIf="sale.productSale">
                        <a [routerLink]="['../product-sale', sale.productSale?.id, 'view' ]" >{{sale.productSale?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sale', sale.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sale', sale.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sale', { outlets: { popup: sale.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
