<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-client-heading">Create or edit a User Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userClient.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userClient.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="userClient.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="userClient.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="userClient.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_documentNumber">Document Number</label>
                    <input type="text" class="form-control" name="documentNumber" id="field_documentNumber"
                        [(ngModel)]="userClient.documentNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_celphone">Celphone</label>
                    <input type="text" class="form-control" name="celphone" id="field_celphone"
                        [(ngModel)]="userClient.celphone" required/>
                    <div [hidden]="!(editForm.controls.celphone?.dirty && editForm.controls.celphone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.celphone?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="userClient.address" required/>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.address?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_typeDoc">Type Doc</label>
                    <select class="form-control" id="field_typeDoc" name="typeDoc" [(ngModel)]="userClient.typeDoc" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeDocOption.id === userClient.typeDoc?.id ? userClient.typeDoc : typeDocOption" *ngFor="let typeDocOption of typedocs; trackBy: trackTypeDocById">{{typeDocOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
