<div>
    <h2 id="page-heading">
        <span>Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image</span></th>
            <th><span>Nombre</span></th>
            <th><span>Description</span></th>
            <th><span>Codigo</span></th>
            <th><span>Available</span></th>
            <th><span>Price Beauty</span></th>
            <th><span>Price Client</span></th>
            <th><span>Packaging</span></th>
            <th><span>Product Caroucel</span></th>
            <th><span>Product Sale</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view' ]">{{product.id}}</a></td>
                <td>
                    <a *ngIf="product.image" (click)="openFile(product.imageContentType, product.image)">open</a>
                    <span *ngIf="product.image">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                </td>
                <td>{{product.nombre}}</td>
                <td>{{product.description}}</td>
                <td>{{product.codigo}}</td>
                <td>{{product.available}}</td>
                <td>{{product.priceBeauty}}</td>
                <td>{{product.priceClient}}</td>
                <td>{{product.packaging}}</td>
                <td>
                    <div *ngIf="product.productCaroucel">
                        <a [routerLink]="['../product-carousel', product.productCaroucel?.id, 'view' ]" >{{product.productCaroucel?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.productSale">
                        <a [routerLink]="['../product-sale', product.productSale?.id, 'view' ]" >{{product.productSale?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product', { outlets: { popup: product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
