<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Producto</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Imagen</span></dt>
                <dd>
                    <div *ngIf="product.image">
                        <a (click)="openFile(product.imageContentType, product.image)">Abrir</a>
                        {{product.imageContentType}}, {{byteSize(product.image)}}
                    </div>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{product.nombre}}</span>
                </dd>
                <dt><span>Descripción</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
                <dt><span>Codigo</span></dt>
                <dd>
                    <span>{{product.codigo}}</span>
                </dd>
                <dt><span>Disponible</span></dt>
                <dd>
                    <span>{{product.available}}</span>
                </dd>
                <dt><span>Precio belleza</span></dt>
                <dd>
                    <span>{{product.priceBeauty}}</span>
                </dd>
                <dt><span>Precio Cliente</span></dt>
                <dd>
                    <span>{{product.priceClient}}</span>
                </dd>
                <dt><span>Packaging</span></dt>
                <dd>
                    <span>{{product.packaging}}</span>
                </dd>
                <dt><span>carrusel de productos</span></dt>
                <dd>
                    <div *ngIf="product.productCaroucel">
                        <a [routerLink]="['/product-carousel', product.productCaroucel?.id, 'view']">{{product.productCaroucel?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>Atras</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
