<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-sale-heading">Create or edit a Product Sale</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productSale.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productSale.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_countProduct">Count Product</label>
                    <input type="number" class="form-control" name="countProduct" id="field_countProduct"
                        [(ngModel)]="productSale.countProduct" required/>
                    <div [hidden]="!(editForm.controls.countProduct?.dirty && editForm.controls.countProduct?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countProduct?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.countProduct?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalProduct">Total Product</label>
                    <input type="number" class="form-control" name="totalProduct" id="field_totalProduct"
                        [(ngModel)]="productSale.totalProduct" required/>
                    <div [hidden]="!(editForm.controls.totalProduct?.dirty && editForm.controls.totalProduct?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalProduct?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.totalProduct?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sale">Sale</label>
                    <select class="form-control" id="field_sale" name="sale" [(ngModel)]="productSale.sale" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleOption.id === productSale.sale?.id ? productSale.sale : saleOption" *ngFor="let saleOption of sales; trackBy: trackSaleById">{{saleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
