<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1> Restablecer su contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>¡El correo electrónico no está registrada!</strong> Por favor revisa e intenta de nuevo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese la dirección de correo electrónico que utilizó para registrarse.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revise su correo electrónico para obtener detalles sobre cómo restablecer su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Su correo es requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Su correo no es valido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                           Su correo electrónico debe tener al menos 5 caracteres.

                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Su correo electrónico no puede tener más de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Reiniciar</button>
            </form>
        </div>
    </div>
</div>
